#question
  %h1= @question.wording

  - form_for @question do |f|
    = render :partial => 'questions/form', :locals => { :f => f }

    %p.submit
      = submit_tag "Update"
      = link_to "Cancel", questions_path