- if @questions.any?
  %table
    %thead
      %th Type
      %th Categories
      %th Question
      
    %thead
      - for q in @questions
        %tr
          %td= link_to q.genre, edit_question_path( q )
          %td
            = q.categories.map( &:name ).join(', ')
                
          %td= q.question
      
%p.new
  = link_to "Create a new question", new_question_path
        