#question
  %h1 New Question

  - form_for @question do |f|
    = render :partial => 'questions/form', :locals => { :f => f }

    %p.submit
      = submit_tag "Submit"
      = link_to "Cancel", questions_path