#artist.member

  %h1 
    Artist:
    = @artist.public_name
  
  - form_for @artist do |f|
    
    = render :partial => 'artists/form', :locals => { :f => f }
    
    %p.submit
      = submit_tag "Submit"
      = link_to "Cancel", artist_path( @artist )