#artists

  %h1 Artists

  - if @artists.any?
    %table
      %thead
        %tr
          %th 
          %th 
          %th Contact
          %th Contact Email
          %th Website
          %th Group Email
          %th Names
          %th Phone
      %tbody
        - for a in @artists
          %tr
            %td
              = a.id
            %td
              =link_to h( a.public_name ), a
            %td=h a.contact_name
            %td=h a.contact_email
            %td=h a.website
            %td=h a.group_email
            %td=h a.names_list
            %td=h a.contact_phone

    = link_to "Add an Artist", new_artist_path
