.password.member

  %h1
    Reset Your Password
    
  - form_for @user, :url => url_for( :action => 'update' ), :method => :put do |f|
    = hidden_field_tag :anonymous_login_code, params[:anonymous_login_code]
    
    = render :partial => 'password/fields', :locals => { :f => f }
    
    %p.submit
      = submit_tag "Submit"
      = link_to "Cancel", root_path