body
  :font-family helvetica, arial, sans-serif
  
#logo
  :position absolute
  :right 50px
  :top 0
  
ul#tabs
  li
    :color #999
    :display inline-block
    :font-size 15px
    :font-weight bold
    :padding-right 10px
    a
      :text-decoration none
      &:hover
        :text-decoration underline
    
img
  :border none

#page
  :margin-top 20px
  :margin-left 50px
  form
    span.msg
      :font-size 11px
    .error
      :color #800000
      :font-weight bold
    .fieldWithErrors
      input
        :background-color #FFE0D1
      label
        :color #800000

#submission
  #artist
    :float left
    :width 400px
    
#artists,
#projects
  :padding-top 60px
  
dt,
label
  :color #999999
  :display block
  :font-weight bold

fieldset
  :border none
  
dl
  dt
    :margin-top 10px
  dd
    :margin-left 0
    span.none
      :color #999
#flash
  :font-weight bold
  .error
    :color #800000
  .notice
    :color #005F00