body
  :font-family helvetica, arial, sans-serif
  
#logo
  :position absolute
  :right 50px
  :top 0
  
img
  :border none

#page
  :margin-top 20px
  :margin-left 50px
  form
    span.msg
      :font-size 11px
    .error
      :color #800000
      :font-weight bold
    .fieldWithErrors
      input
        :background-color #FFE0D1
      label
        :color #800000
    label
      :color #999999
      :display block
      :font-weight bold

#submission
  #artist
    :float left
    :width 400px
    
#projects
  :padding-top 60px