body
  :font-family helvetica, arial, sans-serif
body.error
  #page
    :margin-top 140px
  
#logo
  :position absolute
  :right 50px
  :top 0
  
a
  :text-decoration none
  &:hover
    :text-decoration underline

ul#tabs,
ul.tabs
  li
    :color #999
    :font-size 15px
    :font-weight bold
    :padding-right 10px
    :display inline-block
    
img
  :border none

#page
  :margin 20px 12px
  form
    span.msg
      :font-size 11px
    .error
      :color #800000
      :font-weight bold
    .fieldWithErrors
      input
        :background-color #FFE0D1
      label
        :color #800000
  .member
    :padding-left 30px
    :padding-top 30px
  .index
    :padding-left 0px
    :padding-top 110px
    
#submission
  #artist
    :float left
    :width 400px
    
#artists,
#projects
  :padding-top 60px
  
dt,
label
  :color #999999
  :display block
  :font-weight bold

dl
  dt
    :margin-top 10px
  dd
    :margin-left 0
    span.none
      :color #999
#flash
  :font-weight bold
  &.error
    :color #800000
  &.notice
    :color #005F00
p.back
  :font-size 12px
ul.options
  :font-size 12px
  :list-style none
  :margin-top 30px
  :padding 0
  li
    :margin-bottom 6px
p.submit
  a
    :font-size 11px
    :padding-left 5px
#artists,
#curators,
#projects,
#users
  table
    :width 100%
    thead
      th
        :background-color #CCCCCC
        :color #000
        :font-size 12px
        :padding 3px 4px
        :text-align left
    tbody
      td
        :font-size 13px
        :padding 0 10px 6px 2px
      
      tr.first
        td
          :padding-top 6px
        
#project
  form
    .general,
    .curatorial,
    .programs
      :border 1px solid #999
      :padding 1px 1px 1px 20px
    ul.tabs
      :padding 0
      li
        :padding 3px 9px 2px 7px
      li.current
        :border 1px solid #999
    ul.subsections
      :list-style none
      :margin 0
      :padding 0
      li
        :display inline-block
        :font-size 12px
        :padding 3px 9px 2px 7px
        &.current
          :border 1px solid #999
      
*.xhr
  :border 1px dashed red