#project.member

  = render :partial => 'projects/head', :locals => { :project => @project, :artist => @project.artist }    

  .programs
    = render :partial => 'programs/index', :locals => { :programs => @programs }
      
    %p.new
      = link_to "Add a Program", new_project_program_path( @project )
      

    
