#projects

  %h1 Projects
  
  %table
    %thead
      %tr
        %th No.
        %th Status
        %th Title
        %th Artist
        %th Curator
        %th Categories
        %th Location
        %th Placement Code
        %th Setup Time
        %th Breakdown Time
        %th Programs
    %tbody
      - for p in @projects
        %tr
          %td= link_to p.id, p
          %td=h p.status
          %td= link_to h( p.title ), edit_project_path( p, :section => 'general' )
          %td
            - if p.artist
              =link_to h( p.artist.public_name ), p.artist
          %td
            - if p.curator
              = link_to h( p.curator.name ), curator_path( p.curator )
          %td=h p.categories
          %td=h p.requested_location
          %td=h p.placement_code
          %td=h p.setup_at
          %td=h p.break_down_at

  = link_to "Add a Project", new_project_path
