- content_for :title do
  422: Unprocessable Entity
  

%h1 
  Oops!  An error occurred on our server.

%p
  Our crack team of technicians has been alerted, perhaps in the middle of the night, and will look into the problem shortly. 
%p
  = link_to "Click here", 'http://figmentproject.org'
  to return to the home page.
