- # this page should only be viewed when javascript 
- # is turned off or is broken/unavailable
- content_for :title do
  %h1 Forgot your password?
  
- content_for :left do
  = flash_display
  = render :partial => 'account/forms/forgot_password'
