.signup
  %h1 Create your user account
  - form_for :user, @current_user, :url => account_path do |f|

    = render :partial => 'account/form', :locals => { :f => f }
    
    %p.submit
      = submit_tag "Submit"
      = link_to "Cancel", root_path
  
  .otherOptions
    %p.alreadyHaveAnAccount
      Already have an account?
      %br/
      = link_to "Click here to login.", login_path


