- # this page should only be viewed when javascript 
- # is turned off or is broken/unavailable
- content_for :title do
  %h1 Success!
  
- content_for :left do
	%p 
		An email was to 
		= @email
		with instructions on resetting your password.