#projects.index

  %h1 Project Locations
  
  - if @locations.any?
    %table
      %thead
        %tr
          %th Name
          %th 
      %tbody
        - for c in @locations
          %tr
            %td=h c.name
            %td= link_to "edit", edit_location_path( c )
  - else
    %p Not locations found.

  = link_to "Add a Location", new_location_path
